/* over multiple templates */

.big-title {
    font-size: 50px;
    font-weight:700;
    /* color:#777; */
}

/* base.html */
body {
    text-align: center;
    /* background-image: url('images/background.jpg'); Uncomment when using static/images on the server*/
       
    background-size:cover;
    background-attachment: fixed;
    color: #333;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    color: #716F81;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Calibri';
    background-color:transparent;
}

.special_footer {
    position: relative;
    left: 0; 
    bottom: -10vh;
    width: 100%;
    color: #716F81;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Calibri';
    background-color:transparent; 
}

/* Center footer, put the footter tag to line 117*/
/* .special_footer {
    position: absolute;
    left: 0; 
    bottom: -96vh;
    width: 100%;
    color: #716F81;
    font-family: 'Inconsolata', monospace;
    font-family: 'Calibri';
    background-color:transparent; 
} */


h1, h2, h3, h4, h5, h6, p {
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Calibri'; */
    font-family: 'Tajawal';
    color:darkslategrey;
    
}

.nav-main {
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-name {
    /* font-family: 'Tajawal'; */
    /* font-family: 'Inconsolata', monospace; */
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    
}

.nav-color{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size:x-large;
}

.flash-message {
    position: absolute;
    top:10%;
    transform: translate(-50%, 0);
    left:50%;
    color:#FF87CA;
}

/* landing.html */

.individual-icon1 {
    color: grey;
    display: inline-block;
    padding: 2% 1%;
}

.landing-name {
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

.landing {
    margin: 3% auto 5%;
}

.profile-photo {
    border-radius: 100%;
    width: 260px;
}

.profile-photo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* .individual-icon {
    color: grey;
    display: inline-block;
    padding: 2% 4%;
}

.i-one {
    width:10%;
    margin: auto auto auto 87%;
}

.i-two {
    width:10%;
    margin: auto 60% auto auto;
}

.i-three {
    width:10%;
    margin: auto 84% auto auto;
}

.i-four {
    width:10%;
    margin: auto auto auto 88%;
}

.i-five {
    width:10%;
    margin: auto auto auto 88%;
}

.i-six {
    width:10%;
    margin: auto auto auto 88%;
} */


.fa-brands {
    /* color: #333; */
    color: darkslategrey;
}

.landing-button {
    /* font-family: 'Calibri'; */
    /* font-family: 'Inconsolata', monospace; */
    margin: 2% auto 2%;
    
    font-family: 'Tajawal';
}

.landing-button2 {
    /* background-color: #333; */
    color: white;
    /* font-weight: 700; */
    background-color: darkslategrey;
}

.landing-button2:hover {
    background-color: #777;
    color: pink;
}

/* index.html */

.index-div {
    padding-top: 6%;
}

.introduction {
    line-height: 2;
}

.introduction-message {
    width: 80%;
    margin: auto;
}

/* contact.html */

.contact-div {
    margin-top: 6%;
}

.contact-form {
    width:60%;
    margin: auto;
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Calibri'; */
    font-family: 'Tajawal';
   
}

.attribution {
    position:absolute;
    right: 0;
    bottom: 3%;
    width: 100%;
    color: #716F81;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Calibri';
}

.attribution-link {
    color:#777;
    font-weight: lighter;
}

.attribution-link:hover {
    color:#87AAAA;
}


.contact-button {   
    /* font-family: 'Calibri'; */
    /* font-family: 'Inconsolata', monospace; */
    margin: 2% auto 2%;
    /* background-color: #333; */
    color: white;
    font-family: 'Tajawal';
    background-color: darkslategrey;
}

.contact-button:hover {   
    color: pink;
    background-color: #777;
}


/* resume.html */

.resume-main-div {
    margin-top: 4%;
}

/* .resume-contact-reference{
    left:0;
    width: 20%;
    position: absolute;
    text-align: right;
} */

/* .contact-reference-div {
    width: 100%;
    margin:auto;
} */

.resume-button {
    /* font-family: 'Calibri'; */
    /* font-family: 'Inconsolata', monospace; */
    margin: 2% auto 2%;
    /* background-color: #333; */
    color: white;
    font-family: 'Tajawal';
    background-color: darkslategrey;
}

.resume-button:hover {
    color:aquamarine;
    background-color: #777;
}

.resume-work-education {
    /* position: absolute;
    right:0; */
    width:80%; 
    margin:auto;
}

.resume-work-education a {
    color:teal;
}

.resume-work-education a:hover {
    /* color:#333; */
    color:darkslategrey;
}

.work-education-div {
    width:80%;
    margin:auto;
}

.resume-topic {
    color: #97C4B8;    
}

.divider {
    border-style: dotted none none;
    width: 6%;
    border-width: 6px;
    border-color: #99A799;
}

.referal {
    font-weight: bold;
}

.bold-title {
    font-weight: bold;
}

.course-title {
    /* color:midnightblue; */
    font-weight: bold;
}

/* portfolio.html */

.portfolio-div {
    margin-top: 6%;
}

.div-work {
    width: 60%;
    margin: 5% auto;
    text-align: left;
    line-height: 2;
}

.div-work h3 {
    font-weight: 600;
}

.img-one {
    border-radius: 100%;
    width:29rem;
    float: right;
    margin: auto;
    padding:20px;
}

.img-two {
    border-radius: 100%;
    width:25rem; 
    float: left;
    margin: auto;
    padding:0 30px 20px 20px;
}

.img-three {
    border-radius: 100%;
    width:26rem;
    float: right;
    margin: auto;
    padding:20px;
}

.img-four {
    
    width:26rem;
    float: left;
    margin: auto;
    padding:20px;
}

.img-five {
    border-radius: 100%;
    width:27rem;
    float: right;
    margin: auto;
    padding:20px;
}


.img-six {
    border-radius: 100%;
    width:24rem;
    float: left;
    margin: auto;
    padding:0 30px 20px 20px;
}