/* over multiple templates */

.big-title {
    font-size: 50px;
}

/* base.html */

body {
    text-align: center;
    background-image: url('images/background.jpg');
    background-size:cover;
    background-attachment: fixed;
    color: #333;
}


h1, h2, h3, h4, h5, h6, p {
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Calibri';
}

.nav-main {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-name {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #716F81;
    font-family: 'Inconsolata', monospace;
    z-index: 1;
}

.name {
    font-family: 'Pacifico', cursive;
}

.flash-message {
    position: absolute;
    top:10%;
    transform: translate(-50%, 0);
    left:50%;
    color:#FF87CA;
}


/* landing.html */

.landing-name {
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

.landing {
    margin: 3% auto 5%;
}

.profile-photo {
    border-radius: 100%;
    width: 20%;
}

.profile-photo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  

.individual-icon {
    color: grey;
    display: inline-block;
    padding: 2% 1%;
}

.fa-brands {
    color: #333;
}

.landing-button {
    font-family: 'Inconsolata', monospace;
    margin: 2% auto 2%;
    font-weight: bold;
}

.landing-button2 {
    background-color: #333;
    color: white;
}

.landing-button2:hover {
    background-color: #333;
    color: pink;
}

/* index.html */

.index-div {
    padding-top: 10%;
}

.introduction {
    line-height: 2;
}

/* contact.html */

.contact-div {
    margin-top: 10%;
}

.contact-form {
    width:60%;
    margin: auto;
    font-family: 'Inconsolata', monospace;
}

.attribution {
    position:absolute;
    right: 0;
    bottom: 3%;
    width: 100%;
    color: #716F81;
    font-family: 'Inconsolata', monospace;
}

.attribution-link {
    color:#333;
    font-weight: lighter;
}

.attribution-link:hover {
    color:#87AAAA;
}


.contact-button {   
    font-family: 'Inconsolata', monospace;
    margin: 2% auto 2%;
    background-color: #333;
    color: white;
}

.contact-button:hover {   
    color: pink;
}


/* resume.html */

.resume-main-div {
    margin-top: 6%;
}

.resume-contact-reference{
    left:0;
    width: 20%;
    position: absolute;
    text-align: right;
}

.contact-reference-div {
    width: 100%;
    margin:auto;
}

.resume-button {
    font-family: 'Inconsolata', monospace;
    margin: 2% auto 2%;
    background-color: #333;
    color: white;
}

.resume-button:hover {
    color:aquamarine;
}

.resume-work-education {
    position: absolute;
    right:0;
    width:80%; 
}
.work-education-div {
    width:80%;
    margin:auto;
}

.resume-topic {
    color: #97C4B8;    
}

.divider {
    border-style: dotted none none;
    width: 6%;
    border-width: 6px;
    border-color: #99A799;
}

.referal {
    font-weight: bold;
}

.bold-title {
    font-weight: bold;
}

.course-title {
    color:midnightblue;
    font-weight: bold;
}

/* portfolio.html */

.portfolio-div {
    margin-top: 10%;
}

.div-work {
    width: 60%;
    margin: 5% auto;
    text-align: left;
    line-height: 2;
}

.img-one {
    border-radius: 100%;
    width:20%;
    float: right;
    margin-left: 30px;
}

.img-two {
    border-radius: 100%;
    width:20%; 
    float: left;
    margin-right:30px;
}

.img-three {
    
    width:20%;
    float: right;
    margin-left: 30px;
}