{% extends 'base.html' %}

{% block title %}{{ super() }}- Resume{% endblock %}

{% block content %}
<body style="background-image: url({{ url_for('main_bp.download_image', resource='background.jpg')}});">
          
    <main>
    {% for msg in get_flashed_messages() %}
    <div class=" alert alert-light flash-message">
    <button type="button" class="done" data-dismiss="alert">&times;</button>
    {{ msg }}
    </div>
    {% endfor %}


{% block page_content %}
<!-- <div class="resume-main-div">

    <div class="resume-contact-reference">
        <div class="contact-reference-div">
        <a href="{{ url_for('static', filename='/images/resume.pdf')}}" target="blank"><button type='button'
                class="btn btn-outline-dark btn-lg resume-button">Full Resume</button></a> 

        <a href="{{ url_for('resume_bp.download_resume')}}" target="blank"><button type='button'
            class="btn btn-outline-dark btn-lg resume-button">Full Resume</button></a>

    
        <br>
        <h3>Ai Oakenfull</h3>
        <p>1 Idyll Place Northcross, Auckland 0632 <i class="fa-solid fa-location-dot"></i></p>
        <p>+64210757620 <i class="fa-solid fa-phone"></i></p>
        <p>ai.oakenfull@gmail.com <i class="fa-solid fa-envelope-open"></i></p>
        <br>
        <h3 class="resume-topic">TECH SKILLS</h3>
        <p>Python 3.x | Django | Flask </p>
        <p>HTML | CSS | Linux | Windows </p>
        <p>SQLite3 | PostgreSQL </p>
            <br>
        <h3 class="resume-topic">SOFT SKILLS</h3>
        <p>Communitation | Patience | Accountability </p>
        <p>Self-learner | Problem-solving </p>
        <p>Japanese | Strong memory | Approchable </p>
        <br>
        <br>
        <h3 class="resume-topic">REFERENCES</h3>
        <br>
        <h4 class="referal">Daniel Richardson</h4>
        <h5>Former IT Manager at Fraedom Limited</h5>
        <p>+6421607111 <i class="fa-solid fa-phone"></i></p>
        <p>danielr@mgcars.co.nz <i class="fa-solid fa-envelope-open"></i></p>
        <br>
        <h4 class="referal">Nicholas Keith</h4>
        <h5>IT Manager at Fraedom Limited</h5>
        <p>+64212267077 <i class="fa-solid fa-phone"></i></p>
        <p>nkeith@fraedom.com <i class="fa-solid fa-envelope-open"></i></p>
        <br>
        <h4 class="referal">Sharon Charles</h4>
        <h5>Former teacher at Freelance Animation School</h5>
        <p>+61420220974 <i class="fa-solid fa-phone"></i></p>
        <p>sharonmcharles@hotmail.com <i class="fa-solid fa-envelope-open"></i></p>
    </div>
</div> -->

    <div class="resume-work-education">
        <div class="work-education-div">
            <a href="{{ url_for('resume_bp.download_resume')}}" target="blank"><button type='button'
                class="btn btn-outline-dark btn-lg resume-button">Donwload Full Resume</button></a>
        <h1 class="resume-topic">EDUCATION</h1>
        <br>
        <img class='school-logo' src="{{ url_for('main_bp.download_image', resource='codingnomads2.png') }}" alt="codingnomads">
        <h2 class="bold-title">CodingNomads</h2>
        <h3 class="course-title"><a href="https://codingnomads.co/" target="blank">Python Basics | Djdango & Flask Web Development</a></h3>
        <p>Feb 2022 - JUL 2022</p>
        <br>
        <h4 class="bold-title">Acquired Skills:</h4>
        <h4>Django/Flask for Backend Web Development.</h4>
        <h4>Heroku/Azure deployment.</h4>
        <h4>SQL basics/SQLite3/PostgreSQL.</h4>
        <h4>Unit Testing(Unittest & Pytest).</h4>
        <h4>Version control with Git/GitHub.</h4>
        <br>
        <h4><i class="fa-solid fa-circle-arrow-right fa-1x"></i>
            <strong><a href="{{ url_for('main_bp.portfolio', _anchor='jket')}}">  Django capstone project</a></strong></h4>
        <h4><i class="fa-solid fa-circle-arrow-right fa-1x"></i>
            <strong><a href="{{ url_for('main_bp.portfolio', _anchor='freestuff')}}">  Flask capstone project</a></strong></h4>
        <br>
        <br>
        <img class='school-logo' src="{{ url_for('main_bp.download_image', resource='udemy4.png') }}" alt="udemy">
        <h2 class="bold-title">Udemy</h2>
        <h3 class="course-title"><a href="https://www.udemy.com/course/100-days-of-code/" target="blank">100 Days of Code: The Complete Python Pro Bootcamp</a></h3>
        <p>Jul 2021 - Feb 2022 </p>
        <br>
        <h4 class="bold-title">Acquired Skills: </h4>
        <h4>List, Dictionary, OOP, Beautiful Soup, Selenium, APIs, REST APIs.</h4>
        <h4>Flask for Backend Web Development.</h4>
        <h4>HTML/CSS/Bootstrap for Frontend Web Development.</h4>
        <!-- <br>
        <br>
        <h2>AIMS I.T. Academy</h2>
        <h3>Diploma in System Administration</h3>
        <p> Jan 2011- Sep 2011</p>
        <br>
        <p>Formal Certifications:</p>
        <p>CompTIA A+Certified Computer Technician | Microsoft Certified IT Professional(MCITP) |
            CCNA</p>
            <p>Award:</p>
        <p>Distinction in Academic Achievement - Cisco Certify Network Administrator</p> -->
        <br>
        <br>
    

        <hr class="divider">
        <br>
        <br>
        <h1 class="resume-topic">EMPLOYMENT</h1>
        <br>
        <img class="job-logo1" src="{{ url_for('main_bp.download_image', resource='fraedom.jpeg') }}" alt="fraedom">
        <img class="job-logo2" src="{{ url_for('main_bp.download_image', resource='visa.jpeg') }}" alt="visa">
        <h2 class="bold-title">Systems Support Engineer</h2>
        <h4>
            <strong><a href="https://developer.visa.com/use-cases/partner-showcase/fraedom">
                <i class="fa-solid fa-at"></i> Fraedom Limited./Visa Inc.</a></strong>
        </h4>
        <p>Mar 2012-Jan 2022</p>
        <br>
        <h4 class="bold-title">Roles: </h4>
        <h4>Global Support for internal servers, workstations, mobiles, tablets, printers, audio devices.</h4>
        <h4>Active Directory, Domain Controllers, WSUS, DNS, DHCP, File Servers, Exchange Server, VMware, Hyper-V. </h4>
        <h4>Microsoft Windows 2k~10, Server 2008~2019, SQL Server, SharePoint, Jira, Confluence.</h4>
        <h4>In charge of setup/maintenance of MDT for global OS deployment.</h4>
        <br>
        <br>
        <img class="job-logo1" src="{{ url_for('main_bp.download_image', resource='yoobee.png') }}" alt="yoobee">
        <h2 class="bold-title">IT Support Technician</h2>
        <h4><strong><a href="https://yoobee.ac.nz/"><i class="fa-solid fa-at"></i> Freelance Animation School (Current Yoobee College)</a></strong></h4>
        <p>Aug 2011-Mar 2012</p>
        <br>
        <h4 class="bold-title">Roles: </h4>
        <h4>Support for internal workstations, printers. Software/hardware/network troubleshooting.</h4>
        <h4>Active Directory, Domain Controller, WSUS, FSRM, Anti-vurus solution.</h4>
<br>
<br>
        <hr class="divider">
        <br>   
        <br>
       

        <a href="{{ url_for('resume_bp.download_resume')}}" target="blank"><button type='button'
            class="btn btn-outline-dark btn-lg resume-button">Donwload Full Resume</button></a>


    <div class="page-top"><a href="#navigation"><i class="fa-solid fa-circle-chevron-up fa-5x page-up"></i></i></a></div> 
    </div>
    <footer class="special_footer">© {{ year }} Ai Oakenful</footer>
    </div>
    
    

</div>

{% endblock %}
</body>
{% endblock %}

