{% extends 'base.html' %}

{% block content %}{{super()}}
<div class="resume-main-div">
    
<div class="resume-contact-reference">
<a href="{{ url_for('static', filename='/images/test.pdf')}}" target="blank"><button type='button'
    class="btn btn-outline-dark btn-lg resume-button">Full Resume</button></a>
    <br>
    <h3>Ai Oakenfull</h3>
    <p>1 Idyll Place Northcross, Auckland 0632 <i class="fa-solid fa-location-dot"></i></p>
    <p>+64210757620 <i class="fa-solid fa-phone"></i></p>
    <p>ai.oakenfull@gmail.com <i class="fa-solid fa-envelope-open"></i></p>
<br>
<br>
<br>
    <h3 class="resume-topic">REFERENCES</h3>
    <br>
    <h4 class="referal">Daniel Richardson</h4>
    <h5>Former IT Manager at Fraedom Limited</h5>
    <p>+6421607111 <i class="fa-solid fa-phone"></i></p>
    <p>danielr@mgcars.co.nz <i class="fa-solid fa-envelope-open"></i></p>
    <br>
    <h4 class="referal">Nicholas Keith</h4>
    <h5>IT Manager at Fraedom Limited</h5>
    <p>+64212267077 <i class="fa-solid fa-phone"></i></p>
    <p>nkeith@fraedom.com <i class="fa-solid fa-envelope-open"></i></p>
    <br>
    <h4 class="referal">Sharon Charles</h4>
    <h5>Former teacher at Freelance Animation School</h5>
    <p>+61420220974 <i class="fa-solid fa-phone"></i></p>
    <p>sharonmcharles@hotmail.com <i class="fa-solid fa-envelope-open"></i></p>
</div>

<div class="resume-work-education">
    <h1 class="resume-topic">EMPLOYMENT</h1>
    <h3>Fraedom Limited./Visa Inc.</h3>
    <p>IT System Support Engineers</p>
    <p>Mar 2013-Jan 2022</p>
    <br>
    <h3>Freelance Animation School</h3>
    <p>IT Support Technician</p>
    <p>Aug 2011-Mar 2012</p>
    <br>
    <br>
    <hr class="divider">
    <br>
    <h1 class="resume-topic">EDUCATION</h1>
    <h3>Codingnomads</h3>
    <p>Python basics | Djdango & Flask web development</p>
    <p>Feb 2022 - </p>
    <br>
    <h3>Udemy</h3>
    <p>100 Days of Code: The Complete Python Pro Bootcamp</p>
    <p>Jul 2021 - Feb 2022 </p>
    <br>
    <h3>AIMS I.T. Academy</h3>
    <p>Diploma in System Administration</p>
    <p>CompTIA A+Certified Computer Technician | Microsoft Certified IT Professional(MCITP) |
        CCNA</p>
    <p> Jan 2011- Sep 2011</p>
    <br>



</div>
</div>



{% endblock %}