{% extends 'base.html' %}

{% block title %}{{ super() }}- Introduction{% endblock %}

{% block page_content %}
<div class="index-div">
    <h1 class="big-title">Hi there!</h1>
    <br>
<div class="introduction-message">
    <h4 class="introduction">My name is <strong>Ai Oakenfull</strong>.</h4>
    <h4 class="introduction">Born and raised in Japan, I now reside in beautiful Aotearoa.</h4>
    <h4 class="introduction">Naturally a creative person who loves to make things - from unique jewellery pieces to trying out a new recipe, this led me to embark on a career pivot into software development.</h4>
    <h4 class="introduction">I have a solid background in IT system administration and have just completed Django and Flask Web Development with CodingNomads.</h4>
    <h4 class="introduction">I'm thrilled to enter the tech industry as a passionate and dedicated developer, delivering interactive full stack web apps to users.</h4>
    <h4 class="introduction">Feel free to check out some of my work on my <a href="{{ url_for('main_bp.portfolio')}}">portfolio</a> page or get in touch for more info.</h4>
   
</div>
</div>

</div>
{% endblock %}



