{% extends 'base.html' %}

{% block content %}{{super()}}
<div class="index-div">
    <h1 class="big-title">Introduction</h1>
    <br>

    <h4 class="introduction">My name is <strong>Ai Oakenfull</strong>.</h4>
    <h4 class="introduction">Born and raised in Japan.</h4>
    <h4 class="introduction">Lived in Puerto Rico, United States. Now my home is beautiful Aotearoa, New Zealand.</h4>
    <h4 class="introduction">I am a mother of 3 girls, and a dog, Ollie.</h4>
    <h4 class="introduction">My hobby is metalsmithing, gardening, cooking, sawing and hot yoga.</h4>
    <h4 class="introduction">I love making things!</h4>
    <h4 class="introduction">I recently completed Django and Flask web development courses with Codingnomads.</h4>
    <h4 class="introduction">With 10 years of background in IT system administration, I am ready to embark on a new
        career as a full stuck web developer!</h4>
    <h4 class="introduction">Please explore my portfolios. Excited to hear from you.</h4>
</div>
</div>
{% endblock %}




{% block footer %}<footer class="footer">© {{ year }} Ai Oakenful </footer>{% endblock %}