{% extends 'base.html' %}

{% block title %}{{ super() }}- Introduction{% endblock %}

{% block page_content %}
<div class="index-div">
    <h1 class="big-title">Hi there!</h1>
    <br>
<div class="introduction-message">
    <h4 class="introduction">I'm <strong>Ai Oakenfull</strong>.</h4>
    <h4 class="introduction">Born and raised in Japan, now living in beautiful Aotearoa.</h4>
    <h4 class="introduction">A creative person who loves to make things - from unique jewellery pieces to trying out a new recipe, </h4>
    <h4 class="introduction">this led me to embark on a career pivot into software development. </h4>
    <h4 class="introduction">Completed multiple courses focusing on different areas within the Software Engineering space to further my knowledge.</h4>
    <h4 class="introduction">Currently in process of obtaining my certification in Software Engineering through Institute of Data.</h4>
    <h4 class="introduction">With a background in Systems Support Engineer over 10 years, </h4>
    <h4 class="introduction">Ready to start as a passionate and dedicated developer, delivering interactive full stack web apps to users.</h4>
    <h4 class="introduction">Check out my work on <a href="{{ url_for('main_bp.portfolio')}}">portfolio</a> page or get in touch for more info.</h4>
    
</div>
</div>

</div>
{% endblock %}



