{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block page_content %}

<div class="landing">
    <!-- <img class="profile-photo" src="https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif" alt="profile-photo"> -->
    <!-- <img class="profile-photo" src="{{ url_for('static', filename='images/ai_profile2.jpg') }}" alt="profile-photo"> -->
    <a href="{{ url_for('main_bp.index') }}"><img class="profile-photo" src="{{ url_for('main_bp.download_image', resource='ai_profile2.jpg') }}" alt="profile-photo"></a>

    <h1 class="landing-name">I am Ai.</h1>
    <br>
    <h2>Full stack developer</h2>

    <p>Django | Flask | HTML | CSS | Javascript | PostgreSQL | MongoDB</p>



    <div class="landing-button">
        <a href="{{ url_for('main_bp.index')}}"><button type='button'
                class="btn btn-outline-dark btn-lg landing-button2">Find out more</button></a>
    </div>

    <div class="social-icons">
        <div class="individual-icon1"><a href="https://nz.linkedin.com/in/ai-oakenfull-319297163" target="blank">
            <i class="fa-brands fa-linkedin fa-3x "></i></a></div>
        <div class="individual-icon1"><a href="https://github.com/popo26" target="blank">
            <i class="fa-brands fa-github fa-3x "></i></a></div>
    </div>

</div>

{% endblock %}